.main{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.second{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.first{
    width: 30%;
}
select{
    border: none;
   
   
}
.second>div{
    font-family: 'Inter var',sans-serif;
    font-weight: 500;
}
.login{
    width: 80px;
    height: 30px;
    border: 1px solid rgb(41, 183, 226);
    border-radius: 4px;
    background-color: white;
    font-size:16px;
    color: rgb(41, 183, 226);
    font-family: 'Inter var',sans-serif;
}
.reg{
    width: 120px;
    height: 30px;
    border: 1px solid rgb(41, 183, 226);
    border-radius: 4px;
    background-color: rgb(41, 183, 226);
    font-size:14px;
    color: white;
    font-family: 'Inter var',sans-serif;
    
}
.reg>select{
    background-color: rgb(41, 183, 226);
    color: white;
}